.content__block1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1662px;
  margin-left: 7px;
  margin-top: 107px;
}

.content__block1__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 606px;
  margin-left: 261px;
}

.content__block1__info__modern {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #646464;
  margin-bottom: 12px;
}
.content__block1__info__create {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 78px;
  color: #212121;
  margin-bottom: 23px;
}
.content__block1__info__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #646464;
  margin-bottom: 28px;
}

.content__block1__info__button {
  width: 142px;
  height: 42px;
  background: #37806b;
  border-radius: 20px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
}

.content__block1__info__button a {
  color: #ffffff;
  text-decoration: none;
}

.content__block1__images {
  position: relative;
  width: 751px;
  height: 659px;
}

.content__block1__images__interior {
  position: absolute;
  width: 717px;
  height: 626px;
}

.content__block1__images__border {
  position: absolute;
  width: 717px;
  height: 626px;
  left: 35px;
  top: 33px;
  z-index: -2;
}
/*
.content__block1__elipse {
  position: relative;
  width: 212px;
  height: 153px;
}

.content__block1__elipse__table {
  border-collapse: collapse;
  position: absolute;
  top: 0;
  left: 7px;
  width: 212px;
  height: 153px;
  width: 212px;
  height: 153px;
}

.content__block1__elipse__table td {
  margin: 7px;
  width: 3.55px;
  height: 3.55px;
  background: radial-gradient(circle, #ebebeb, transparent 100%);
}
*/

/*block2*/

.content__block2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  max-width: 1660px;
  margin-left: 271px;
  margin-right: 8.45px;
  margin-top: 49.45px;
}
.content__block2__about {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.content__block2__about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 276px;
  margin-bottom: 50px;
}
.content__block2__about__text__what {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;

  color: #646464;
}
.content__block2__about__text__service {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 78px;

  color: #212121;
}
.content__block2__about__strelki {
  display: flex;
  margin-left: 1003px;
  margin-bottom: 51px;
}
.content__block2__about__strelki__img {
  width: 78px;
  height: 30px;
}
.content__block2__blocks {
  display: flex;
  justify-content: start;
  align-items: left;
}
.content__block2__blocks__interior {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 37px;
  width: 425px;
  height: 193px;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
}
.content__block2__blocks__interior__img {
  display: flex;
}
.contetn__block2__blocks__interior__img__logo {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 37px;
}
.content__block2__blocks__interior__words {
  margin-left: 20px;
}
.content__block2__blocks__interior__topic {
  width: 180px;
  height: 78px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 78px;
  color: #212121;
  z-index: 2;
}
.content__block2__blocks__interior__text {
  width: 307px;
  height: 84px;
  margin-bottom: 35px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;

  color: #646464;
  z-index: 1;
}
.content__block2__blocks__architecture {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 37px;
  width: 425px;
  height: 193px;

  background: #caa892;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
}
.content__block2__blocks__architecture__img {
  display: flex;
}
.contetn__block2__blocks__architecture__img__logo {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 37px;
}
.content__block2__blocks__architecture__words {
  margin-left: 17px;
}
.content__block2__blocks__architecture__topic {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 78px;

  color: #ffffff;
}
.content__block2__blocks__architecture__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: -0.01em;

  color: #ffffff;
}
.content__block2__blocks__planning {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 425px;
  height: 193px;

  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
}
.content__block2__blocks__planning__img {
  display: flex;
}
.contetn__block2__blocks__planning__img__logo {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 42px;
}
.content__block2__blocks__planning__words {
  margin-left: 16px;
}
.content__block2__blocks__planning__topic {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 78px;

  color: #212121;
}
.content__block2__blocks__planning__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: -0.01em;

  color: #646464;
}
/*
.content__block2__elipse {
  position: relative;
}

.content__block2__elipse__table {
  border-collapse: collapse;
  position: absolute;
  left: 1660px;
  width: 212px;
  height: 153px;
}

.content__block2__elipse__table td {
  margin: 7px;
  width: 3.55px;
  height: 3.55px;
  background: radial-gradient(circle, #ebebeb, transparent 100%);
}
*/

/* block3*/
.comtent__block3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  max-width: 1621px;
  margin-right: 292px;
  margin-top: 204px;
}
.content__block3__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 544px;
}
.content__block3__info__about {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #646464;
}
.content__block3__info__mextreo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  /* or 119% */

  color: #212121;
}
.content__block3__info__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  color: #646464;
}
.content__block3__info__button {
  width: 142.15px;
  height: 42.81px;
  margin-top: 42px;

  background: #37806b;
  border-radius: 20px 0px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 42px;
  text-align: center;

  color: #ffffff;
}
.content__block3__info__button a {
  color: #ffffff;
  text-decoration: none;
}
.content__block3__images {
  position: relative;
  width: 717px;
  height: 758px;
  margin-left: 235px;
}
.content__block3__images__sofa {
  position: absolute;
  width: 681px;
  height: 726px;
}
.content__block3__images__border {
  position: absolute;
  width: 681px;
  height: 726px;
  left: -35px;
  top: -33px;
  z-index: -2;
}
